body{
background-color:#FAF3E3;
}

form{
background-color:#1A4D2E;
border-radius:5px;"

}

label{
color:#FAF3E3;}

.jumbotron{
background-color:#FF9F29;
}

.form-control{
margin-top:3;
}
.card-header{
background-color:#1A4D2E;
}